set 0,1000
set 1,1000
set 2,200
set 3,700
set 4,0
load 5,5
load 6,8
jumpIfZero 5,14
jumpIfZero 6,11
setThrottle 0
jump 0
jumpIfZero 6,14
setThrottle 1
jump 0
jumpIfZero 5,17
setThrottle 2
jump 0
load 7,2
noop
jumpIfGreaterThan 7,4,22
setThrottle 3
jump 0
setThrottle 7
jump 0