:start
jumpIfGreaterThan #2,100,:breaking
jumpIfLessThan #1,6100,:fullThrottle
jumpIfGreaterThan #14,30,:breaking
jumpIfZero #5,:inTurn
jumpIfZero #8,:turnComing
jump :fullThrottle
:fullThrottle
setThrottle 1000
jump :start
:turnComing
jumpIfGreaterThan #1,7100,:breaking
:inTurn
jumpIfGreaterThan #2,50,:breaking
jump :fullThrottle
:breaking
setThrottle 0
jump :start